.post-single-comments{
	padding: 0 50px;
	.comments-avatar{
		width:70px;
		height: 70px;
		border-radius: 50%;
	}

	.comments-create{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		.comments-avatar{

		}
		form{
			width:calc(100% - 70px);
		}
		.form-fields{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding-left: 30px;
			textarea{
				width:calc(100% - 60px);
				border:1px solid $grey;
				border-right:none;
				height:20px;
				outline:none;
				padding: 19px;
				font-size: 'discover-light';
				font-size: 18px;
				color:$black-opacity;
				resize:none;
			}
			button{
				width:60px;
				height: 60px;
				display: block;
				border:none;
				background: white;
				border:1px solid $grey;
				img{
					width: 25px;
					transform:rotate(15deg);
				}
			}
		}
	}

	.comment{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		padding:40px;
		background: none;
		position: relative;
		.comment-content{
			margin-top: 15px;
			margin-left: 15px;
			.comment-datas{
				margin-bottom: 15px;
				strong{
					font-family: "discover-bold";
					font-size: 16px;
					
				}
				i{
					opacity:.5;
					font-size: 14px;
				}
			}
			.comment-text{
				margin-top: 12px;
				font-family: 'discover-light';
			}
		}
		.comment-userActions{
			position: absolute;
			right: 40px;
			top: 40px;
			img{
				height: 20px;
				margin-left: 10px;
			}
		}
	}
}