/* @group FOOTER */

	footer {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		position: relative;
		height: 60px;
		padding: 0 80px;
		background-color: #fff;

		@media (max-width: 1280px) {
			padding: 0 40px;
		}

		@media (max-width: 768px) {
			padding: 0 20px;
		}

		.links {
			line-height: 60px;
	
			a {
				position: relative;
				display: inline-block;
				height: 100%;
				padding: 0 10px;
				color: $black;
				opacity: 1;
				transition: .3s ease;

				&:hover {
					opacity: 0.7;
				}
				
				&:after {
					position: absolute;
					content: '';
					right: -1px;
					top: 20px;
					bottom: 20px;
					width: 1px;
					background-color: $black;
				}

				&:last-child {
					&:after {
						display: none;
					}
				}
			}
		}

		.socials {
			a {
				display: inline-block;
				padding: 0 10px;
				line-height: 60px;
				font-size: 22px;
				color: $black-opacity;

				&:hover {
					color:$black;
				}
			}
		}
	}

/* @endgroup FOOTER */