/* @group Forgotten password */

	.forgotten-password-container {

		form {
			display: inline-block;
			margin: 0 auto;
		}

		.additional_links {
			a:first-child {
				&:before { display: none; }
			}
			a:last-child {
				&:before { display: none; }
			}
		}
	}

/* @endgroup forgotten password */