.publish-switch{
    .switch-background{
        background:$black-opacity;
        height:20px;
        width:40px;
        border-radius: 50px;
        position: relative;
        transition:all 0.3s ease;
        .switch-button{
            transition:all 0.3s ease;
            position: absolute;
            width:20px;
            height: 20px;
            border-radius: 50%;
            border:2px solid $black-opacity;
            background:#fff;
            left: 0;
        }
    }


    &.active{
        .switch-background{
            background:$purple;
        }

        .switch-button{
            border:2px solid $purple;
            left:inherit;
            left:20px;
        }
    }
}