/* @group POST */

	.post-single{
		display: flex;
		flex-direction: row;
		position: relative;
		&.top-post{
			.post-content{
				padding-left: 40px;
				color:$black;

				.post-title{
					font-size: 25px;
					margin: 30px 0 20px 0;
				}

				.post-link{
					margin-left: 10px;
					img{
						width:25px;
					}
				}

				.post-desc{
					font-family: 'discover-light';
				}
			}
			
			.post-author{
				text-decoration: none;
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				margin-top: 30px;
				img{
					border-radius:50%;
					width: 50px;
					height: 50px;
				}
				span{
					color:$black;
					margin-left: 15px;
					font-family: 'discover-regular';
				}
			}

			.post-metadatas{
				position: absolute;
				right: 0;
				top: 0;
			}
		}

		&.regular-post {
			padding: 40px 0;
			padding-right: 100px;

			&:first-child {
				padding-top: 0;

				.post-likes{
					top:0;
				}

				.post-metadatas{
					top:0px;
				}
			}

			&:after {
				position: absolute;
				content: '';
				bottom: 0;
				left: 20px;
				right: 20px;
				height: 1px;
				background-color: $grey;
			}


			&:last-child{
				&:after{
					left:300px;
					right: 300px;
				}
			}

			.post-metadatas{
				position: absolute;
				right: 0;
				top: 40px;
			}

			.post-head-datas{
				margin-bottom: 15px;
				.post-author{
					margin-top:15px;
					a{
						font-size: 16px;
						color:$black;
					}

					.author-postDate{
						margin-left: 10px;
						color:$black-opacity;
						font-family: 'discover-light';
						font-size: 14px;
					}
				}
			}

			.post-likes{
				top:40px;
				span{
					font-family:'discover-light';
				}
			}

			.post-content{
				.post-thumbnail{
					width: 100%;
					height:200px;
				}

				.post-description{
					margin-top: 20px;
					font-family: 'discover-light';
				}
			}
		}

		.post-title{
			font-size: 24px;
			font-family: 'discover-semibold';
			display: inline-block;
			margin-top: 20px;
			text-decoration: none;
			color: $black;
			width:90%;
		}

		.post-cat {
			font-size: 12px;
			text-transform: uppercase;
			display: block;
			a{
				color:$black-opacity;
			}
		}

		.post-likes{
			position: absolute;
			right: 0;
			top: 0;
			text-decoration: none;
			color:$black;
			display: flex;
			flex-direction: column;
			span{
				text-align: center;
				font-family: 'discover-light';
				margin-top: 0;
			}
			img{
				margin-bottom: 10px;
				width:25px;
			}
		}

		&__avatar {
			width: 70px;
			height: 70px;
			border-radius: 50%;	
			overflow: hidden;
			-webkit-background-size: cover;
			background-size: cover;
			background-position: center center;
		}

		&__content {
			width: calc(100% - 70px);
			padding-left: 15px;


			.post-content {
				img {
					width: 100%;
				}
			}
		}
	}

	.single-post-cat{
		margin-left: 15px;
		color:$purple;
		font-size: 18px;
		margin-bottom: 15px;
		a{
			font-size: 16px;
			color:#a899c6;
		}
	}


	.post-metadatas{
		margin-left: auto;
		display: flex;
		flex-direction: row;
		& > div > a{
			margin:0 20px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			img{
				height: 25px;
				fill:$black-opacity;
			}
			span{
				font-family: 'discover-light';
				font-family: 14px;
				color:$black;
				margin-top: 10px;
			}
		}
		.post-link{

			img, span{
			}
		}

		.post-votes{
			.post-likes{
				position: static;
				p{
					font-family: 'discover-light';
				}
			}
		}
	}

	.post-single-view{
		flex-flow:wrap;
		margin-top: 15px;
		.post-datas{
			display: flex;
			flex-direction: row;

			width:100%;
			.post-author{
				display: flex;
				flex-direction: row;
				img{
					width:70px;
					height: 70px;
					border-radius:50%;
				}
				.author-data{
					padding-top: 10px;
					margin-left: 15px;
					display: flex;
					flex-direction: column;

					.user-name{
						font-family: 'discover-regular';
						color:$black;
					}
					.user-postDate{
						font-family: 'discover-light';
						color:$black-opacity;
						font-size: 14px;
						margin-top: 10px;
					}
				}
			}	
		}


		.post-thumbnail{
			width:100%;
			height: 400px;
			margin-bottom: 20px;
			margin-top: 40px;
		}

		.post-content{
			padding: 20px;
			width: 100%;
			.post-title{
				font-size: 26px;
			}
			.post-desc{
				font-size: 18px;
				font-family: 'discover-light';
				margin-top: 30px;
				color:$black;
			}
		}
	}

	.post-single-comments{
	}

	.comment {
		display: block;
		background-color: #dedede;
		padding: 15px;
		margin-bottom: 10px;

		&__datas {
			display: block;
			margin-bottom: 20px;

			strong {
				font-weight: bold;
			}

			i {
				font-style: italic;
			}
		}

		&__content {
			background-color: #efeeee;
			padding: 10px 0;
		}

		&__user-actions {
			display: block;
			margin-top: 15px;
		}
	}


/* @endgroup POST */