/* @group POST */

	.main-post {

	}

	.comment {
		display: block;
		background-color: #dedede;
		padding: 15px;
		margin-bottom: 10px;

		&__datas {
			display: block;
			margin-bottom: 20px;

			strong {
				font-weight: bold;
			}

			i {
				font-style: italic;
			}
		}

		&__content {
			background-color: #efeeee;
			padding: 10px 0;
		}

		&__user-actions {
			display: block;
			margin-top: 15px;
		}
	}

/* @endgroup POST */