.top-users{
	padding-left:30px;
	.user{
		display: flex;
		flex-direction: row;
		justify-content:flex-start;
		align-items: flex-start;
		margin-bottom:60px;
		position: relative;
		&:last-child{
			margin-bottom: 0px;
			&:after{
				display: none;
			}
		}

		&:after{
			content:"";
			display: block;
			height: 1px;
			background:$grey;
			position: absolute;
			bottom: -30px;
			left: 20px;
			right: 20px;
		}
		.user-avatar{
			margin-right: 15px;
			img{
				width: 60px;
				height: 60px;
				border-radius: 50%;
			}
		}
		.user-infos{
			.user-name{
				font-family:'discover-regular';
				color:$black;
			}
			.user-palmares{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-top:20px;

				>	div{
					display: flex;
					flex-direction: row;
					margin-right: 20px;
					img, i{
						margin-left: 10px;
					}
				}
				img, i{
					height: 20px;
					color: $black-opacity;
					font-size: 20px;
				}
				p{
					color:$black-opacity;
					margin:2px 0;
					// font-family: 'discover-light';
				}
			}
		}
	}
}