body {
	padding : 50px;
	background:$grey-light;
}

.clear{
	clear: both;
}

button{
	cursor:pointer;
	border:none;
	outline:none;
}

main{
	padding: 60px 80px;
}

.title-main{
	color:#d0c6e6;
	font-size: 40px;
	font-family:'discover-bold';
	margin-left: 20px;
	margin-bottom: 20px;
}

.title-second{
	color:$purple;
	font-size: 18px;
	font-family:'discover-regular';
	margin-left: 15px;
	margin-bottom: 15px;
}

section{
	padding: 40px;
	background:white;
	border:1px solid $grey;
	margin-bottom: 40px;
}

.col-70{
	width: 70%;
}

.col-30{
	width:30%;
}


.field {

	.form_title{
		color: $form-title;
		font-family: 'discover-regular';
		font-size: 13px;
		text-transform: uppercase;
		display: block;
		margin-bottom: 8px;
	}

	.form_input{
		display: block;
		width: 300px;
		height: 40px;
		background-color: #fcfcfc;
		border: solid 0.5px #efefef;
		color: rgba(0,0,0,0.5);
		font-family: 'discover-regular';
		font-size: 14px;
		padding-left: 10px;
		
		&::-webkit-input-placeholder{
			opacity: 0.4;
		}
	}

	.form_submit{
		width: 150px;
		height: 40px;
	}

	.file-input-field {
		display: -webkit-flex;
		display: flex;
	}

	.file-input {
		position: relative;
		display: -webkit-flex;
				display: flex;
		justify-content: center;
		align-items: center;
		height: 130px;
		width: 130px;
		border-radius: 50%;
		margin-right: 20px;
		padding: 10px;
		background-color: #ededed;

		input {
			position: absolute;
			display: block;
			left: 50%;
			bottom: 10px;
			transform: translateX(-50%);
			opacity: 0;
		}

		label {
			padding: 45px 0 10px 0;
			text-align: center;
			color: #9c9c9c;
		}

		.upload-avatar-check {
			position: absolute;
			left: 50%;
			top: 25px;
			transform: translateX(-50%);
			/*display: none;*/
			color: $green;
			font-size: 40px;
		}
	}

	.current-image {
		min-width: 20%;
		max-width: 50%;
		-webkit-background-size: contain;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
	}
}

.pagination{
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	.previous_page, .next_page{
		display: none;
	}
	.current, a{
			font-family: 'discover-regular';
			font-size: 16px;
			color:$black;
			margin:0 5px;
	}
	a{
		opacity:.5;
	}
}

.actions{
	margin-top: 30px;
		
	input[type=submit]{
		background-color: #fff;
		padding: 10px 40px;
		border: 1px solid $purple;
		font-family: 'discover-regular';
		font-size: 14px;
		color: $purple;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover{
			background-color: $purple;
			color: #fff;
			transition: all 0.2s ease-out;
		}

	}
}

.paragraph {
	display: block;
	margin-bottom: 40px;
	color:$black-opacity;
	line-height: 28px;
}


