body {
	padding : 50px;
	background:$grey-light;
}

a{
	transition:all .3s ease;
	span{
		transition:all .3s ease;
	}
	&:hover{
		text-decoration: none !important;
		color:$purple !important;
		span{
			color:$purple !important;
		}

		&.button-submit{
			color:white !important;
			background:rgba($purple, 0.7);
		}
	}
}

.clear{
	clear: both;
}

button{
	cursor:pointer;
	border:none;
	outline:none;
}

main{
	padding: 40px 80px;
	min-height: calc(100vh - 161px); /* Yeah it's ugly but that way, the footer will stay down. Don't juge me please.  */

	@media (max-width: 1280px) {
		padding: 40px 80px;
	}

	@media (max-width: 768px) {
		padding: 30px 20px;
	}

}

.title-main{
	color:#d0c6e6;
	font-size: 40px;
	font-family:'discover-bold';
	margin-left: 20px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.title-second{
	color:$purple;
	font-size: 16px;
	font-family:'discover-regular';
	margin-left: 15px;
	margin-bottom: 15px;
}

section{
	position: relative;
	padding: 40px;
	background:white;
	border:1px solid $grey;
	margin-bottom: 40px;

	.link-back {
		position: absolute;
		right: 40px;
		top: 40px;
		color: $purple;

		&:hover {
			color: $black-opacity;
		}
	}
}

.col-70{
	width: 70%;
	float: left;
}

.col-30{
	width:30%;
	float: left;
}

.pagination{
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	.previous_page, .next_page{
		display: none;
	}
	.current, a{
			font-family: 'discover-regular';
			font-size: 16px;
			color:$black;
			margin:0 5px;
	}
	a{
		opacity:.5;
	}
}


