.update_user_wrapper{
	display: flex;
	justify-content: center;

	#edit_user{
		padding-top: 30px;
	}

	.field{
		margin-bottom: 30px;

	}

	.inputs_wrapper{
		display: flex;
		justify-content: center;

		.form_left{
			margin-right: 50px;
		}
	}

	input[type=file]{
		z-index: -1;
	}

	#avatar_input{
		width: 120px;
		height: 120px;
		border-radius: 50%;
		background-position: 50% 30%;

		label{
			font-size: 11px;
			width: 120px;
	    	height: 30%;
	    	line-height: 13px;
	    	padding-top: 50px;
		}
	}

	#update_form_new_password{
		&:after{
			content:" Leave it blank if you don't want to change it";
			color: rgba(131,98,198,0.7);
			font-family: "discover-light";
			font-size: 12px;
			text-transform: none;
		}
	}

	#update_form_current_password{
		margin-top: 5px;
		&:after{
			content:" Current password needed to confirm changes";
			color: rgba(131,98,198,0.7);
			font-family: "discover-light";
			font-size: 12px;
			text-transform: none;
		}
	}

	#update_form_content{
		min-height: 130px;
		max-width: 300px;
	}

	.additionnals_links{
		margin-top: 10px;

		a{
			font-size: 12px;
			color: $purple;

			&:before{
				content:"If you are unhappy you can ";
				color: rgba(0,0,0,0.7);
				font-family: 'discover-light';
				cursor: text;

			}

		}

	}


}