<%= link_to posts_add_vote_path(id: post.id ), remote: user_signed_in? , method: :post, :class => "post-likes" do %>
    <% if @post_voted.include?(post.id) %>
        <img src='/assets/images/icons/like_active.svg' alt="">
    <% else %>
        <img src='/assets/images/icons/like_inactive.svg' alt="">
    <% end %> 
    <p><%= post.vote %></p>  
<% end %>