<h1 class="title-second">About</h1>

<section class="single-page-container">
	<div class="paragraph">
		<p>Design</p>
		<ul>
			<li><a href="#" class="maker-link tp">Pauline Taveneau</a></li>
			<li><a href="#" class="maker-link">Tristan Nivol</a></li>
		</ul>
	</div>

	<div class="paragraph">
		<p>Front-development</p>
		<ul>
			<li><a href="#" class="maker-link">Benjamin Chareyron</a></li>
			<li><a href="#" class="maker-link">Matthieu Tourdes</a></li>
		</ul>
	</div>
	<div class="paragraph">
		<p>Back-development</p>
		<ul>
			<li><a href="#" class="maker-link">Benjamin Beguin</a></li>
			<li><a href="#" class="maker-link">Stephen Richard</a></li>
		</ul>
	</div>
</section>