<section class="single-page-container">
	<div class="top-post-missing">
	  <img src="/assets/images/dog_404.png" alt="">
	  <h1 style="margin-top: 20px; font-size: 40px;">Wouf !!</h1>
	  <div class="paragraph" style="margin-top: 13px; margin-bottom: 20px;font-family: 'discover-light';">Oh, you're lost. Don't worry it's gonna be ok. Why don't you go back home ?</div>
	  <%= link_to "Back home", '/' %>
	</div>

	<audio src="/assets/sound/crying_dog.mp3" id="not_found_dog"></audio>
</section>