<section class="single-page-container">
	<div class="top-post-missing">
	  <img src="/assets/images/dog_404.png" alt="">
	  <h1 style="margin-top: 20px; font-size: 40px;">Wouf !!</h1>
	  <div class="paragraph" style="margin-top: 13px; margin-bottom: 20px;font-family: 'discover-light';">Oops something went wrong. Nothing was found here.</div>
	  <%= link_to "Back home", '/' %>
	</div>
</section>