<section class="single-page-container">
	<div class="top-post-missing">
	  <img src="/assets/images/dog_404.png" alt="">
	  <h1>No Discover yet !</h1>
	  <%= link_to "Submit a discover", posts_new_path %>
	</div>
</section>