/* VARS */
@import 'parts/reset';
@import 'parts/vars';

/* IMPORT COMMONS */
@import 'parts/ui';
@import 'parts/footer';
@import 'parts/header';
@import 'parts/fonts';

/* IMPORT PARTIALS */
@import 'parts/home';
@import 'parts/profile';
@import 'parts/post';

h1{
	font-size: 25px;
}

a{
	color:blue;
}

body, a, p{
	font-family: 'discover-regular';
}

body{
	padding: 0px;
}