/* CONFIG */
@import 'config/reset';
@import 'config/vars';
@import 'config/fonts';

/* IMPORT COMMONS */
@import 'parts/ui';
@import 'parts/footer';
@import 'parts/header';

/* IMPORT PARTIALS */
@import 'parts/home';
@import 'parts/profile';
@import 'parts/post';
@import 'parts/connexion';
@import 'parts/signup';
@import 'parts/comments';
@import 'parts/search';
@import 'parts/newpost';
@import 'parts/update';
@import 'parts/single-page';
@import 'parts/forgotten-password';

h1{
	font-size: 25px;
}

a{
	text-decoration: none;
}

body, a, p{
	font-family: 'discover-regular';
}

body{
	padding: 0px;
}