<section>
	<h1>My first post</h1>
	<%= render "shared/top_post" %>
</section>

<section>
	<h1>Tous les post de la categorie : <%= @category.label %></h1>
	<br>
	<br>

	<%= render "shared/posts_list" %>
	
</section>







