<h1>Fist post</h1>
<section>
	<%= render "shared/top_post" %>
</section>

<section>
		<br><br>
	<h1>All post</h1>
	<p>Find me in app/views/posts/index.html.erb</p>

	<%= render "shared/posts_list" %>
	<%= will_paginate @posts %>

	
</section>



