<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<%= render "shared/post_show" %>

<p>List of comments for this post</p>

<%= render "shared/comments_for_post" %>

<p>Comment post <%= @post.id %></p>


